<section id="skills" class="skills">
    <h2 class="heading">Mis <span>Habilidades</span></h2>
    <div class="skills-row">
        <div class="skills-column">
            <h3 class="title">Tecnologías</h3>
            <ul class="skills-box">
                <li>JavaScript / TypeScript (Angular, Vue, React)</li>
                <li>PHP (Laravel)</li>
                <li>Python (Django, DRF)</li>
                <li>HTML, CSS, Responsive</li>
                <li>SQL (MySQL / PostgreSQL)</li>
            </ul>
        </div>
        <div class="skills-column">
            <h3 class="title">Profesionales</h3>
            <ul class="skills-box">
                <li>Diseño UI/UX</li>
                <li>Desarrollo de Software</li>
                <li>Testing</li>
                <li>Comunicación y trabajo en equipo</li>
                <li>Consultoría y digitalización</li>
            </ul>
        </div>
    </div>
</section>
